@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading {
  width: 32px;
  height: 32px;
}

.draw-container {
  width: fit-content;
  height: fit-content;
}

.draw-area {
  vertical-align: bottom;
  width: 720px;
  height: 576px;
  box-sizing: content-box;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alas {
  word-break: break-all;
}

.hover-underline:hover {
  text-decoration: underline !important;
}

.disabled-link {
  pointer-events: none;
}

h3 {
  text-decoration: underline;
}

.logo {
  width: 1.25rem;
}

.brand {
  font-family: "Orbitron", sans-serif;
}

.brand:hover {
  opacity: 0.8;
}

.chat-container {
  width: 250px;
  height: fit-content !important;
}

.scrollbar {
  overflow-y: scroll;
}

.scrollbar-primary {
  scrollbar-color: #0d6efd #212529;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 8px;
  background-color: #212529;
  border-radius: 3px;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #0d6efd;
  border: 2px solid #212529;
}

.chat-body {
  height: 604px; /* 576px canvas + 28px blockchain info */
  box-sizing: content-box;
}

.chat-area {
  height: 94%;
  box-sizing: border-box;
}

.chat-input {
  height: 6%;
  border: 0;
  box-sizing: border-box;
}

.chat-input:focus {
  outline: 0;
  border-top-style: dotted !important;
}

.chat-header {
  box-sizing: border-box;
}

.chat-header p {
  display: inline;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: auto;
  padding: 1px;
  border-radius: 10px;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 4px;
}

.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 100%;
  outline: none;
  box-sizing: border-box;
  border: 1px solid white;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 22px;
  border-radius: 4px;
  background: #0d6efd;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 22px;
  border: none;
  background: #0d6efd;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

.bubble-icon {
  top: 7px;
  cursor: pointer;
}

.mobile {
  position: absolute;
  width: 100%;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-brand {
  font-size: 1.25rem;
}

.mobile-image {
  box-sizing: border-box;
  width: 100%;
}

.crypto-container {
  width: 986px;
}

.bg-polygon {
  background-color: #8247e5;
}

.logo-polygon {
  width: 1rem;
  filter: brightness(0) invert(1);
}

.blockchain-info {
  height: 32px;
}

.blockchain-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
